<footer class="footer">
  <div class="footer__c">
    <button mat-button routerLink="/">
      Hmm
    </button>
    <span>
      © 2019-2019
    </span>
  </div>
  <div class="footer__links">
    <a class="footer__link">
      About
    </a>
    <a class="footer__link">
      Terms
    </a>
    <a class="footer__link">
      Developers
    </a>
  </div>
  <div class="footer__languages">
    <span>
      Languages:
    </span>
    <a class="footer__link">
      English
    </a>
    <a class="footer__link">
      Русский
    </a>
    <a class="footer__link">
      Українська
    </a>
  </div>
</footer>