@import "../../mixins.scss";

.header {
    display: flex;
    flex-flow: row nowrap;
    @include e("logo") {
        margin-right: 150px;
    }
    @include e("search-container") {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }
    @include e("search-field") {
        font-size: 0.6em;
    }
    @include e("search-icon") {
        margin-right: 15px;
    }
    @include e("login") {
        text-decoration: none;
    }
}

.mat-menu-content {
    padding: 20px;
}