<div class="login">
  <div class="login__left-column">
    <h1 class="login__header">Hmm for mobile devices</h1>
    <p class="login__description">Install our official mobile app and stay in touch with your friends anytime and anywhere.</p>
    <img class="login__picture" src="/static/front-end/assets/hmm-big-image.png">
    <div class="login-row">
      <button mat-raised-button class="login__app-button">
        <mat-icon class="login__app-icon">android</mat-icon>
        <span>Hmm for Android</span>
      </button>
      <button mat-raised-button class="login__app-button">
        <mat-icon class="login__app-icon">tablet_mac</mat-icon>
        <span>Hmm for iPhone</span>
      </button>
      <button mat-raised-button class="login__app-button">
        <mat-icon class="login__app-icon">smartphone</mat-icon>
        <span>Hmm for WP</span>
      </button>
    </div>
  </div>
  <div class="login__right-column">
      <mat-card class="login__login-card">
        <form class="login__form" action="/login" method="POST">
          <mat-form-field>
            <input matInput type="text" placeholder="Email" name="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" placeholder="Password" name="password">
          </mat-form-field>
          <div class="login__row">
            <button mat-button>
              Log In
            </button>
            <button mat-button>
                Forgot your password?
            </button>
          </div>
        </form>
      </mat-card>

      <mat-card class class="login__register-card">
        <h2 class="login__first-time-header">First time on Hmm?</h2>
        <span>Sign up for Hmm</span>
        <br>
        <form class="login__form" action="/register" method="POST">
          <mat-form-field>
            <input matInput type="text" placeholder="Your first name" name="first_name">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Your last name" name="last_name">
          </mat-form-field>
          <br>
          <div class="login__gender-section">
              <span>Your gender</span>
              <mat-radio-button value="1">Female</mat-radio-button>
              <mat-radio-button value="2">Male</mat-radio-button>
          </div>
          <br>
          <div class="login__row">
            <button mat-button>
              Log In
            </button>
            <button mat-button>
                Forgot your password?
            </button>
          </div>
        </form>
      </mat-card>
  </div>
</div>